.container{
    max-width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, var(--bg-color), var(--bg-color));
}
.about_content{
    display: flex;
    width: 100%;
    height: 80%;
    margin-left: 2%;
    flex-direction: column;
    justify-content: space-around;
    color: var(--bg-color);
}

.image_about :nth-child(2) i{
    color:dimgray
}
.image_about {
    display: flex;
    justify-content: center;
}

.skill_showcase{
    padding-top: 2px;
    padding-bottom: 2px;
}
.content_text{
    text-decoration:"none";
    color:var(--text-main-color)
}