.container{
    max-width: 100vw;
    height: auto;
    background-color: var(--bg-color);
}
.content{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;    
    align-items: center;
    justify-content: center;
    margin-left:5% ;
    gap:2rem;    
}